<footer id="footer" class="footer">
  <span class="footer-time-range">-</span>
  <div class="footer-legend">
    <span class="legend-item">
      <span class="legend-color user"></span>
      User
    </span>
    <span class="legend-item">
      <span class="legend-color assistant"></span>
      Assistant
    </span>
    <span class="legend-item">
      <span class="legend-color tool"></span>
      Tool
    </span>
    <span class="legend-item">
      <span class="legend-color git"></span>
      Git
    </span>
    <span class="legend-item">
      <span class="legend-color error"></span>
      Error
    </span>
    <span class="legend-item">
      <span class="legend-color planning"></span>
      Planning
    </span>
  </div>
</footer>
